body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:linear-gradient(#009688 0%,#009688 130px,#d9dbd5 130px,#d9dbd5 100%); ;
   
}
 /* ho imparato a usare un gradiente per semplificarmi la life */